#blog .icon::before,
#blog .icon::after {
	content: '';
	display: inline-block;
	width: 20%;
	border-top: 1px solid #212529;
}

#blog .card {
	width: 22rem;
}

#blog p {
	color: #a5a4a3;
	font-size: .7rem;
}

#blog .btn {
	font-size: .8rem;
}

@media only screen and (max-width: 768px) {
	#blog .card {
		padding-bottom: 10px;
	}
}