/*General styles*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Playfair Display', serif;
}


#mainsection {
	position: relative;
	min-height: 100vh;
}

#mainsection .background-image {
	background: url(../img/michael-warf-1086615-unsplash.jpg) center center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: cover;
}

#chooseus {
	background-color: #181817
}

#chooseus .container .icon::before,
#chooseus .container .icon::after {
	content: '';
	display: inline-block;
	width: 20%;
	border-top: 1px solid #f0b54b;
}

#chooseus .container .icon .fa-gem{
	font-size: .8rem;
}

#chooseus h2,
#chooseus h3,
#chooseus .fa-gem {
	color: #f0b54b;
}

#chooseus h3 {
	font-size: 1.1rem;
}

#chooseus p {
	font-size: .7rem;
	color: white;
}

#chooseus .fa-pencil-alt,
#chooseus .fa-hammer,
#chooseus .fa-trade-federation,
#chooseus .fa-hand-holding-usd {
	font-size: 3.5rem;
	padding: 40px 0 0 20px;
	color: white;
}

@media only screen and (max-width: 768px) {
	
}

#gallery .images {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 350px 350px;
}

#gallery .images .item1 {
	background: url(../img/ruslan-bardash-351288-unsplash.jpg) center center no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	grid-column: 1 / 2; 
	grid-row: 1 / 3;
}

#gallery .images .item2 {
	background: url(../img/kari-shea-207221-unsplash.jpg) center center no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	grid-column: 2 / 3; 
	grid-row: 1 / 2;
}

#gallery .images .item3 {
	background: url(../img/dillon-mangum-383677-unsplash.jpg) center center no-repeat;	
	background-size: cover;
	height: 100%;
	width: 100%;	
	grid-column: 2 / 4; 
	grid-row: 2 / 3;
}

#gallery .images .item4 {
	background: url(../img/hutomo-abrianto-580282-unsplash.jpg) center center no-repeat;	
	background-size: cover;
	height: 100%;
	width: 100%;
	grid-column: 3 / 5; 
	grid-row: 1 / 2;
}

#gallery .images .item5 {
	background: url(../img/kara-eads-544960-unsplash.jpg) center center no-repeat;	
	background-size: cover;
	height: 100%;
	width: 100%;
	grid-column: 4 / 5; 
	grid-row: 2 / 3;
}

@media only screen and (max-width: 768px) {

	#gallery .images {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 200px 200px 200px 200px 200px;
	}
	#gallery .images .item1 {
		grid-column: 1 / 2; 
		grid-row: 1 / 2;
	}
	#gallery .images .item2 {
		grid-column: 1 / 2; 
		grid-row: 2 / 3;
	}
	#gallery .images .item3 {
		grid-column: 1 / 2; 
		grid-row: 3 / 4;
	}
	#gallery .images .item4 {
		grid-column: 1 / 2; 
		grid-row: 4 / 5;
	}
	#gallery .images .item5 {
		grid-column: 1 / 2; 
		grid-row: 5 / 6;
	}
} 


#collection {
	background-color: #F2F2F2;
}

#collection .container .icon::before,
#collection .container .icon::after {
	content: '';
	display: inline-block;
	width: 20%;
	border-top: 1px solid #212529;
}

#collection .items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 370px 370px;
	grid-gap: 15px;
}

#collection .items .viewimage .info {
	line-height: 1.2rem;
}

@media only screen and (max-width: 768px) {
	#collection .items {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 200px 200px 200px 200px 200px;
	}
}


#designers {
	position: relative;
	min-height: 100vh;
}

#designers .background-image {
	background: url(../img/venveo-609390-unsplash1.jpg) center center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: cover;
}


#designers .container .icon::before,
#designers .container .icon::after {
	content: '';
	display: inline-block;
	width: 20%;
	border-top: 1px solid #f0b54b;
}


#designers h2,
#designers h3,
#designers .fa-gem {
	color: #f0b54b;
}

#designers .design-images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 350px;	
	grid-gap: 10px;
}

#designers .design-images .dimages{
	position: relative;
}

#designers .design-images .design-info {
	position: absolute;
	top: 80%;
	opacity: 0;
	transition: all 1s ease-in-out;
}

#designers .design-images img:hover + .design-info {
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	#designers .design-images {
		grid-template-columns: 1fr;
		grid-template-rows: 250px 250px 250px;
	}

	#designers .design-images .dimages{
		position: relative;
	}

	#designers .design-images .design-info {
		position: absolute;
		top: 70%;
	}
}