@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700");
@import "all.min.css";
@import "mainsection.css";
@import "chooseus.css";
@import "gallery.css";
@import "collection.css";
@import "designers.css";
@import "projects.css";
@import "blog.css";
@import "footer.css";

/*General styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Playfair Display", serif;
}

p,
small,
.nav-link {
  font-family: "Lato";
  color: #a5a4a3;
}

.navbar {
  background-color: rgb(0, 13, 26);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}
