@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700");
@import "mainsection.css";
@import "chooseus.css";
@import "gallery.css";
@import "collection.css";
@import "designers.css";
@import "projects.css";
@import "blog.css";
@import "footer.css";

/*General styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Playfair Display", serif;
}

p,
small,
.nav-link {
  font-family: "Lato";
  color: #a5a4a3;
}

.navbar {
  background-color: rgb(0, 13, 26);
}
